@font-face {
  font-family: "Cirse";
  src: url(../fonts/Circe/Circe/Circe-Bold.otf);
}

@font-face {
  font-family: "Gilam";
  font-weight: bold;
  src: url(../fonts/Gilam/gilam-bold.ttf);
}

@font-face {
  font-family: "Gilam";
  src: url(../fonts/Gilam/gilam-regular.ttf);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 1920px;
  margin: 0 auto;
  color: white;
  
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 46px 230px 0 230px;
  background-color: gray;

}

.header_logo {
  width: 216px;
  height: 33px;

}

.header__wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Cirse";

}

.header__feedback {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px 25px;
  border: solid 1px;
  border-color: #7d5d25;

}

.header__company-phone {
  margin-right: 40px;
  font-style: bold;
  font-size: 20px;
  color: #ffffff;

}

.header__company-phone span {
  color: #e4b564;

}

.header__feedback {
  display: flex;
  justify-content: center;
  align-items: center;

}

.header__feedback img {
  width: 16px;
  height: 16px;
  margin-right: 2px;
  color: #e4b564;

}

.header__feedback a {
  text-decoration: none;
  /* margin-left: 8px; */
  color: #e4b564;
  font-size: 18px;
  line-height: 30px;

}

.main {
  display: grid;
  font-family: "Gilam";
  background: green;

}

.main_works-cars {
  padding: 128px 230px 0 230px;

}

.main_works-title {
  font-weight: 700;
  font-size: 50px;
  line-height: 28px;

}

.main_works-description {
  margin-top: 40px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;

}

.main__works {
  display: grid;
  grid-template-columns: repeat(6, 224px);
  grid-template-rows: repeat(2, 468px);
  grid-gap: 20px;
  font-weight: 700;
  font-size: 20px;
  line-height: 28px;
  margin-top: 20px;

}

.main__works > div {
  display: flex;
  justify-content: space-around;
  align-items: center;

}

.main__works_first {
  grid-column: 1/3;
  background: #634f2c;

}

.main__works_second {
  grid-column: 3/5;
  text-align: center;
  font-style: Bold;
  padding: 0 48px;
  background: #b4a385;

}

.main__works_third {
  grid-column: 5/7;
  background: #e4b564;

}

.main__works_fourth {
  grid-column: 1/4;
  background: #635a4a;

}

.main__works_fifth {
  grid-column: 4/7;
  background: #b08c4d;

}

.main__cars-title {
  margin-top: 141px;
  font-size: 50px;

}

.main__cars {
  display: grid;
  grid-template-columns: repeat(6, 224px);
  grid-template-rows: repeat(8, 118px);
  grid-gap: 20px;
  font-size: 20px;
  line-height: 28px;
  margin-top: 64px;

}

.main__cars > div {
  padding-top: 45px;
  padding-left: 50px;

}

.main__cars_first {
  grid-column: 1/3;
  grid-row: 1/4;
  background: #0e0e0e;

}

.main__cars_first p {
  font-weight: 700;

}

.main__cars_second {
  grid-column: 3/5;
  grid-row: 1/5;
  background: #242424;

}

.main__cars_second p {
  font-weight: 700;

}

.main__cars_third {
  grid-column: 5/7;
  grid-row: 1/3;
  background: #1f1f1f;

}

.main__cars_fourth {
  grid-column: 1/3;
  grid-row: 4/8;
  background: #1f1f1f;

}

.main__cars_fifth {
  grid-column: 3/5;
  grid-row: 5/8;
  background: #e4b564;
  color: #000000;

}

.main__cars_sixth {
  grid-column: 5/7;
  grid-row: 3/6;
  background: #0a0909;

}

.main__cars_seventh {
  grid-column: 5/7;
  grid-row: 6/8;
  font-weight: 700;
  background: #0a0909;

}

.main_companies {
  padding: 128px 230px 0 230px;
  background-color: green;

}

.main__companies-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.main__companies-title {
  font-size: 50px;
  line-height: 28px;
  font-weight: bold;

}

.main__companies-all {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding: 10px 25px;
  border: solid 1px;
  border-color: #e4b564;

}

.main__companies-all a {
  text-decoration: none;
  margin-left: 8px;
  color: #e4b564;
  font-size: 18px;
  line-height: 30px;

}

.main__companies {
  display: grid;
  grid-template-columns: repeat(3, 487px);
  grid-template-rows: repeat(2, 468px);
  /* font-style: Bold; */
  /* font-weight: 700; */
  font-size: 20px;
  line-height: 28px;
  margin-top: 64px;
  font-weight: 500;

}

.main__companies > div {
  display: flex;
  justify-content: center;
  align-items: center;

}

.main__companies_first {
  background: #634f2c;

}

.main__companies_second {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  text-align: center;
  padding: 0 110px;
  background: #e8d2abc2;

}

.main__companies_third {
  background: #e4b564;

}

.main__companies_fourth {
  background: #635a4a;

}

.main__companies_fifth {
  background: #b08c4d;

}

.main__companies_sixth {
  background: #634f2c;

}

.footer {
  padding-top: 238px;
  background-color: green;

}